.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  background-color: #292929;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 32px;
  color: #A8A78A; /* 로고 컬러도 맞추기 */
  letter-spacing: 2px;
}

.logoLink {
  color: #A8A78A;
  text-decoration: none;
}

.auth {
  font-size: 14px;
  margin: 20px;
}

.authTextButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #A8A78A; /* 연한 회색 톤으로 변경 */
  text-transform: uppercase; /* 대문자화 */
  letter-spacing: 1px;
  font: inherit;
  cursor: pointer;
  text-decoration:none;
}

.authTextButton:hover {
  text-decoration: underline;
}

.separator {
  color: #aaa;
}
